name: C Program CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y gcc make

      - name: Compile program
        run: gcc -o src/a.out src/spreadsheet.c src/graph.c src/parser.c src/validate.c src/hash.c src/vector.c -lm

      - name: Run Tests
        run: ./src/a.out < src/test_input.txt > src/output.txt

      - name: Compare Outputs
        run: diff -w src/output.txt src/expected_output.txt
